<script setup lang=ts>
  import libAddress from '@/libraries/address'
  import libPackage from '@/libraries/package'
  import cookie from '@/factories/cookie'
  import { ref, onMounted } from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import Toast from '@/components/Toast.vue'

  interface paxData {
    name: string,
    sex: string,
    age: number,
    province: string,
    city: string,
    registrant: boolean,
  }
  const paxes = ref([
    {
      name: '',
      sex: '',
      age: 0,
      province: '',
      city: '',
      registrant: true,
    }
  ])
  const route = useRoute()
  const router = useRouter()
  const phone = ref('')
  const notifyType = ref('')
  const notifyMsg = ref('')
  const provincesData = ref<provinceDataType[]>([])
  const citiesData = ref<cityDataType[]>([])
  const isLoading = ref(false)

  onMounted(() => {
    libAddress.getProvinces()
      .then((res:provinceDataType[]) => {
        provincesData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
  })
  const collapsable = (index:number) => {
  }
  const submit = () => {
    isLoading.value = true
    const payload = {
      company_id: route.params.companyId,
      package_id: route.params.packageId,
      variant_id: route.params.variantId,
      phone: phone.value,
      pax: paxes.value,
    }
    libPackage.createTicket(payload)
      .then((res:any) => {
        cookie.setCookie('id_ticket', res.id_ticket, 3 * 24 * 60)
        cookie.setCookie('company_id', route.params.companyId, 3 * 24 * 60)
        router.push(`/ticket-detail/${res.id_ticket}`)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const add = () => {
    const skeleton = {
      name: '',
      sex: '',
      age: 0,
      province: '',
      city: '',
      registrant: paxes.value.length > 0 ? false : true,
    }
    paxes.value.push(skeleton)
  }
  const getCities = (provinceName:string, index:number) => {
    const selectedProvince = provincesData.value.find((province) => {
      return province.name === provinceName
    })
    if (selectedProvince === undefined) {
      paxes.value[index].province = ''
      notifyMsg.value = 'GAGAL MENGAMBIL DATA KOTA, SILAHKAN PILIH ULANG PROVINSI'
      notifyType.value = 'err'
      return
    }
    libAddress.getCities(selectedProvince.id)
      .then((res:cityDataType[]) => {
        citiesData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = 'err'
        notifyType.value = err
      })
    paxes.value[index].city = ''
  }
  const removePax = (pax:any) => {
    if (paxes.value.length <= 1) return
    const newPaxes = paxes.value.filter((item:paxData) => {item !== pax})
    paxes.value = newPaxes
  }
</script>

<template>
  <main>
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section>
      <p class="text-center font-bold">Silahkan isi data penumpang dengan benar & lengkap untuk perlindungan asuransi Jasa Raharja</p>
      <p class="text-center">Penumpang 1 akan dianggap sebagai pemesan, silahkan masukan nomor telepon yang dapat dihubungi</p>
      <label class="flex flex-col mb-8">
        <span>HP</span>
        <input class="border rounded w-full py-1" placeholder="081344123456" v-model="phone" />
      </label>
    </section>
    <section v-for="(item, index) in paxes" :key="index" class="mb-8">
      <div class="flex justify-between bg-neutral-400 text-white rounded-t p-2">
        <p class="mb-0">Penumpang {{index + 1}}</p>
        <p class="mb-0" @click="removePax(item)">-</p>
      </div>
      <div class="grid grid-cols-2 gap-y-4 bg-neutral-100 rounded-b p-4">
        <p class="my-auto">Nama</p>
        <label class="flex items-center">
          <span class="mr-2">:</span>
          <input type="text" class="border rounded uppercase w-full py-1" v-model="item.name" />
        </label>
        <p class="my-auto">Jenis Kelamin</p>
        <label class="flex items-center">
          <span class="mr-2">:</span>
          <select class="border rounded bg-white uppercase w-full py-1" v-model="item.sex">
            <option value="male">LAKI-LAKI</option>
            <option value="female">PEREMPUAN</option>
          </select>
        </label>
        <p class="my-auto">Usia</p>
        <label class="flex items-center">
          <span class="mr-2">:</span>
          <input type="text" class="border rounded uppercase w-full py-1" v-model="item.age" />
        </label>
        <p class="my-auto">Provinsi</p>
        <label class="flex items-center">
          <span class="mr-2">:</span>
          <select class="border rounded bg-white uppercase w-full py-1" v-model="item.province" @change="getCities(item.province, index)">
            <option v-for="province in provincesData" :key="province.id" :value="province.name">{{province.name}}</option>
          </select>
        </label>
        <p class="my-auto">Kabupaten/Kota</p>
        <label class="flex items-center">
          <span class="mr-2">:</span>
          <p v-if="item.city !== ''">{{item.city}}</p>
          <select v-else class="border rounded bg-white uppercase w-full py-1" v-model="item.city">
            <option v-for="city in citiesData" :key="city.id" :value="city.name">{{city.name}}</option>
          </select>
        </label>
        <!-- <button @click="remove" class="col-span-2 bg-red-600 rounded-full text-white py-2">Hapus penumpang</button> -->
      </div>
    </section>
    <section v-if="true" @click="add" class="cursor-pointer flex justify-center items-center bg-neutral-400 rounded-full h-12 w-12 mx-auto mb-8">
      <p class="text-white text-2xl font-bold mb-0">+</p>
    </section>
    <button @click="submit()" type="button" class="bg-green-600 rounded-full text-white px-4 py-2" :disabled="isLoading">{{isLoading ? 'Loading ...' : 'Pesan tiket'}}</button>
  </main>
</template>