<script setup lang="ts">
  import imgCruise from '@/assets/cruise2.png'
  import libPackage from '@/libraries/package'
  // import cookie from '@/factories/cookie'
  import formatter from '@/helpers/formatter'
  import { ref, onMounted, reactive } from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import Toast from '@/components/Toast.vue'

  const packageData = ref<packageDataType[]>([])
  const variantData = ref<variantDataType[]>([])
  const companyName = ref('');
  const showModal = ref(false)
  const notifyType = ref('')
  const notifyMsg = ref('')
  const noVariant = ref(false)
  const isLoading = ref(false)
  const modalData = reactive({
    name: '',
    details: '',
    price: 0,
    to: '/create-ticket/'
  })
  const route = useRoute()
  const router = useRouter()
  const companyId = route.params.companyId

  onMounted(() => {
    // if (cookie.getCookie('id_ticket')) {
    //   router.push(`/ticket-detail/${cookie.getCookie('id_ticket')}`)
    //   return
    // }
    isLoading.value = true
    libPackage.getPackages(companyId)
      .then((res:packageType) => {
        Object.assign(packageData.value, res.package_data)
        companyName.value = res.company_name
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })

  const packageChoosed = (val:any) => {
    Object.assign(modalData, val)
    libPackage.getVariants(companyId, val.id)
      .then((res:any) => {
        const date = new Date()
        const variants = res.filter((item:any) => {
          const days = JSON.parse(item.days)
          return days.includes(date.getDay())
        })
        if (variants.length > 0) {
          noVariant.value = false 
          modalData.to = `/create-ticket/${companyId}/${val.id}`
          variantData.value = res
          showModal.value = true
        } else {
          noVariant.value = true
          showModal.value = true
        }
      })
  }
</script>

<template>
  <main>
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section v-if="isLoading" class="text-center">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <div class="text-center mb-8">
        <h3 class="text-primary-0">Layanan Pemesanan Tiket</h3>
        <h3 class="text-primary-0">{{companyName}}</h3>
        <p>
          Apa yang akan Anda lakukan
        </p>
      </div>
      <div class="flex flex-col items-center gap-4">
        <div v-for="item in packageData" :key="item.id" @click="packageChoosed(item)" class="border rounded-xl w-fit p-4 bg-white text-center">
          <img class="mb-6" :src="imgCruise" alt="Cruise" />
          <p class="text-lg font-bold uppercase">{{item.name}}</p>
        </div>
      </div>
    </section>
    <section v-if="showModal" class="fixed overflow-scroll bg-primary-0/50 w-screen h-screen top-0 left-0">
      <section @click="showModal = false" class="fixed w-screen h-screen top-0 left-0" />
      <div class="absolute text-center bg-primary-3 rounded-md shadow-lg top-4 left-1/2 -translate-x-1/2 w-52 p-4">
        <h3>{{modalData.name}}</h3>
        <p class="mb-4">{{modalData.details}}</p>
        <div v-if="!noVariant" v-for="variant in variantData" :key="variant.id" class="mb-4">
          <p>{{variant.name}}</p>
          <p>max:{{variant.max_capacity}} - {{variant.duration}} menit</p>
          <button @click="router.push(`${modalData.to}/${variant.id}`)" class="bg-primary-4 text-primary-3 rounded-full py-2 px-4">
            <p class="mb-0">{{formatter.currency(variant.price)}}</p>
          </button>
        </div>
        <div v-else class="mb-4">
          <h5 class="font-bold mb-2">Mohon Maaf</h5>
          <P>Tidak ada varian dari paket {{modalData.name}} yang tersedia hari ini</P>
        </div>
      </div>
    </section>
  </main>
</template>