<script setup lang="ts">
  import cookie from '@/factories/cookie'
  import { useRouter, useRoute } from 'vue-router'
  import { onMounted } from 'vue'

  const route = useRoute()
  const router = useRouter()
  onMounted(() => {
    const companyId = route.query.companyId || cookie.getCookie('company_id')
    console.log(route.query.companyId)
    if (companyId) router.push(`/ticket/${companyId}`)
  })

</script>

<template>
  
</template>