<script setup lang=ts>
  import libPackage from '@/libraries/package'
  import formatter from '@/helpers/formatter'
  import cookie from '@/factories/cookie'
  import { ref, reactive, onMounted } from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import Toast from '@/components/Toast.vue'

  const adminUrl = import.meta.env.VITE_ADMIN_SITE

  const ticketData = reactive({
    pic: '',
    venue_name: '',
    company_name: '',
    ticket_status_id: 1,
    price: 0,
    created_at: '',
    pax: [
      {name: '', sex: ''},
    ],
  })
  const route = useRoute()
  const router = useRouter()
  const qrData = `${adminUrl}/ticket/new-order/${route.params.id}`
  const ticketStatuses = [
    'Menunggu Pembayaran',
    'Terbayar',
    'Dibatalkan',
    'Terbit',
  ]
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)

  onMounted(() => {
    isLoading.value = true
    libPackage.getTicket(route.params.id)
      .then((res:any) => {
        Object.assign(ticketData, res)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })
  const reset = () => {
    cookie.setCookie('id_ticket', '', 0)
    router.push(`/ticket/${cookie.getCookie('company_id')}`)
  }
  const recheck = () => {
    location.reload()
  }
</script>

<template>
  <main>
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section class="mb-8 z-10">
      <p class="text-center font-bold mb-8">Pesanan Anda berhasil, silahkan lakukan pembayaran dengan cara tunjukan kode QR berikut ini kepada petugas loket</p>
      <img class="mx-auto" :src="`https://api.qrserver.com/v1/create-qr-code/?data=${qrData}&size=150x150`" alt="QR Code">
      <h3 class="font-bold text-center">{{route.params.id}}</h3>
    </section>
    <section v-if="isLoading" class="text-center">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <div class="flex flex-col mb-4">
        <p>Perusahaan :</p>
        <h4 class="font-bold">{{ticketData.company_name}}</h4>
      </div>
      <div class="flex flex-col mb-4">
        <p>Penanggung Jawab :</p>
        <h4 class="font-bold">{{ticketData.pic || '-'}}</h4>
      </div>
      <div class="flex flex-col mb-4">
        <p>Nama Kapal :</p>
        <h4 class="font-bold">{{ticketData.venue_name || '-'}}</h4>
      </div>
      <div class="flex flex-col mb-4">
        <p>Status :</p>
        <h4 class="font-bold">{{ticketStatuses[ticketData.ticket_status_id - 1]}}</h4>
      </div>
      <div class="flex flex-col mb-4">
        <p>Harga :</p>
        <h4 class="font-bold">{{formatter.currency(ticketData.price)}}</h4>
      </div>
      <div class="flex flex-col gap-4">
        <button v-if="(ticketData.ticket_status_id === 1)" class="bg-green-600 rounded-full text-white px-4 py-2" @click="recheck()" type="button">Cek status tiket</button>
        <button v-if="(ticketData.ticket_status_id === 2)" class="bg-green-600 rounded-full text-white px-4 py-2" @click="router.push(`/ticket-download/${route.params.id}`)" type="button">Download tiket</button>
        <button class="border border-green-600 rounded-full px-4 py-2" @click="reset()" type="button">Pesan tiket baru</button>
      </div>
    </section>
  </main>
</template>