<script setup lang="ts">
  import libPackage from '@/libraries/package'
  import imgJr from '@/assets/JR.png'
  import imgDishub from '@/assets/dishub.png'
  import formatter from '@/helpers/formatter'
  import logo from '@/helpers/logo'
  import html2canvas from 'html2canvas'
  import { ref, reactive, onMounted } from 'vue'
  import { useRoute } from 'vue-router'
  import Toast from '@/components/Toast.vue'

  const ticketData = reactive({
    company_name: '',
    name: '',
    venue_name: '',
    price: 0,
    created_at: '',
    pax: [
      {name: '', sex: ''},
    ],
  })
  const route = useRoute()
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)
  const isValid = ref(true)
  const setLogo = ref('')

  onMounted(() => {
    isLoading.value = true
    libPackage.getTicket(route.params.id)
      .then((res:any) => {
        if (res.ticket_status_id !== 2) {
          notifyMsg.value = 'Tiket tidak valid'
          notifyType.value = 'err'
          isValid.value = false
          return
        }
        setLogo.value = logo(res.company_id)
        Object.assign(ticketData, res)
        setTimeout(() => {downloadTicket()}, 500)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })
  const downloadTicket = () => {
    // @ts-ignore
    html2canvas(document.querySelector('#print'))
      .then((res:any) => {
        document.querySelector('#download')?.appendChild(res)
        const canvas = document.getElementsByTagName('canvas')[0]
        const dataCanvas = canvas.toDataURL('image/jpg')
        const url = dataCanvas.replace(/^data:image\/jpg/,'data:application/octet-stream')
        const downloadItem = document.createElement('a')
        downloadItem.setAttribute('download', 'ticket.jpg')
        downloadItem.setAttribute('href', url)
        downloadItem.click()
      })
  } 
</script>

<template>
  <main>
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section v-if="isLoading" class="text-center">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <section v-if="isValid" id="print" class="absolute -z-10 top-0 left-0 bg-white w-[720px] p-4">
        <div class="flex justify-between items-center mb-12">
          <div />
          <h3 class="font-bold">E-TICKET</h3>
          <div class="flex  gap-4">
            <img class="self-start w-12 h-12 mr-8" :src="setLogo" alt="Logo">
            <div class="w-12" >
              <img :src="imgDishub" alt="Dinas Perhubungan" />
            </div>
            <div class="w-24" >
              <img :src="imgJr" alt="Jasa Raharja" />
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-y-4 mb-12">
          <div>
            <p>E-TICKET NUMBER / NOMOR  E-TIKET</p>
            <p class="font-bold">{{route.params.id}}</p>
          </div>
          <div>
            <p>DATE / TANGGAL</p>
            <p class="font-bold uppercase">{{formatter.toDate(ticketData.created_at)}} ; {{formatter.toTime(ticketData.created_at)}}</p>
          </div>
          <div>
            <p>BOAT NAME / NAMA KAPAL</p>
            <p class="font-bold uppercase">{{ticketData.venue_name}}</p>
          </div>
          <div>
            <p>PAYMENT / PEMBAYARAN</p>
            <p class="font-bold uppercase">CASH</p>
          </div>
          <div>
            <p>PAX TYPE / TIPE PENUMPANG</p>
            <p class="font-bold uppercase">{{ticketData.name}}</p>
          </div>
          <div>
            <p>PRICE / HARGA</p>
            <p class="font-bold uppercase">{{formatter.currency(ticketData.price)}}</p>
          </div>
          <div>
            <p>PASSENGER NAME /  NAMA PENUMPANG</p>
            <div v-for="(pax, key) in ticketData.pax" :key="key">
              <p  class="font-bold uppercase">{{(key+1)}}. {{pax.name}}</p>
            </div>
          </div>
          <div>
            <p>GENDER</p>
            <div v-for="(pax, key) in ticketData.pax" :key="key">
              <p  class="font-bold uppercase">{{pax.sex}}</p>
            </div>
          </div>
        </div>
        <p class="text-center font-bold">Perjalanan Anda telah terjamin Asuransi Jasa Raharja</p>
      </section>
      <section v-else>
        <h3>TIKET TIDAK VALID</h3>
      </section>
      <section id="download" class="hidden"/>
    </section>
  </main>
</template>